<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Add Article</title>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
      </header>
    <div id="add-div">
        <div id="add-article">
            <h3>Add Article</h3>
            <form id="add-form" action="">
               
            <div id="add-left">
                <input type="text" placeholder="Title">
                <input type="text" placeholder="Image-Url">
           
              <button id="publish-btn">publish</button>
             
            </div>

              
              <div id="add-right">
                <textarea name="" id="article-area" cols="70" rows="25"></textarea>
              </div>
              
      
            </form>
      
        </div>
      
    </div>

</body>
</html>