<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Add Article</title>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
      </header>
    <div id="add-div">
        <div id="add-article">
            <h3>Add Article</h3>
            <form id="add-form" action="">
               
            <div id="add-left">
                <input class="input-from" type="text" placeholder="Title">
                <input class="input-from" type="text" placeholder="Image-Url">
              <select class="input-from" name="" id="article-category">
                  <option value="">Abstract</option>
              </select>
            </div>
            <button id="publish-btn">publish</button>
              <div id="add-right">
                <textarea name="" id="article-area" cols="50" rows="15"></textarea>
              </div>
              
      
            </form>
      
        </div>
      
    </div>

</body>
</html>