<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Add Article</title>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
      </header>
    <div id="add-div">
        <div id="add-article">
            <h3>Add Article</h3>
            <form id="add-form" method="POST" action="/articles">

            <div id="add-left">
              <label for="Title">Title</label><br>
                <input required name="title" type="text" placeholder="Title">
                <label for="image-Url">Image-Url</label><br>
                <input name="img_url" required type="url" placeholder="Image-Url">

              <button id="publish-btn">publish</button>

            </div>


              <div id="add-right">
                <textarea name="description" required id="article-area" cols="70" rows="25"></textarea>
              </div>


            </form>

        </div>

    </div>

</body>
</html>
