<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <main>
 <nav id="articleMain" style="margin: 50px; text-justify:center;font-size: 22px;">
   <img id="img_url" src="<%= article.img_url %>" alt="" style="float: left; width: 300px; height: 300px;">
   <p id="description"><%= article.description %></p>
<hr>
<div id="likes-container" style="justify-content: center; margin-left: 45%;">
  <img class='icon' id="like" src="https://img.icons8.com/nolan/64/facebook-like.png"/>
  <img  class='icon' id="unlike" src="https://img.icons8.com/nolan/64/thumbs-down.png"/>
</div>



 </nav>

  </main>
</body>
</html>
