<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Login</title>

</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <div class="category">
            <select name="category" id="category">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <div class="api-data">
        <div class="api-div">
            <img src="../images/cover17.jpg" alt="" srcset="">
            <h1>title</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, quam. Repellendus culpa impedit
                explicabo modi vero maiores rerum pariatur iste amet fuga dolores magnam voluptatibus sequi, doloribus
                quasi minima veniam.</p>
            <h3>copyright</h3>
        </div>
        <div class="api-div">
            <img src="../images/cover17.jpg" alt="" srcset="">
            <h1>title</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, quam. Repellendus culpa impedit
                explicabo modi vero maiores rerum pariatur iste amet fuga dolores magnam voluptatibus sequi, doloribus
                quasi minima veniam.</p>
            <h3>copyright</h3>
        </div>

        <div class="api-div">
            <img src="../images/cover17.jpg" alt="" srcset="">
            <h1>title</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, quam. Repellendus culpa impedit
                explicabo modi vero maiores rerum pariatur iste amet fuga dolores magnam voluptatibus sequi, doloribus
                quasi minima veniam.</p>
            <h3>copyright</h3>
        </div>

        <div class="api-div">
            <img src="../images/cover17.jpg" alt="" srcset="">
            <h1>title</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, quam. Repellendus culpa impedit
                explicabo modi vero maiores rerum pariatur iste amet fuga dolores magnam voluptatibus sequi, doloribus
                quasi minima veniam.</p>
            <h3>copyright</h3>
        </div>

        <div class="api-div">
            <img src="../images/cover17.jpg" alt="" srcset="">
            <h1>title</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, quam. Repellendus culpa impedit
                explicabo modi vero maiores rerum pariatur iste amet fuga dolores magnam voluptatibus sequi, doloribus
                quasi minima veniam.</p>
            <h3>copyright</h3>
        </div>
    </div>
    </main>

</body>

</html>