<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css2?family=Faster+One&family=Roboto:wght@700&display=swap' rel="stylesheet">
  </head>
  
  <body>
    <header>
      <div id='top-section'>
        
   
        <div id="login">
          <% if (user) { %>
            you're welcome <%= user.email %>
            to <a class="login" href="/auth/logout">logout</a>
          <% } else { %>
           
            
           <a class="login" href="/login">Login</a>
            <br>
             <a class="login" href="/register">Sign up</a>
            <% } %>
        </div>
      </div>
      
      <nav>
        <ul>
          <li>
            
            <a href="#">  Home</a>
          </li>
          <li>
            <a href="#"> Articles</a>
           
          </li>
          <li>
            <a href="#"> Explore space</a>
          
          </li>
          <li>
            <a href="#"> Q&A</a>
            
          </li>
          <li>
            <a href="#"> Contributors</a>
            
          </li>
          <li>
            <a href="#"> Contribute with us </a>
           
          </li>
          <li>
            <a href="#"> Contact us</a>
            
          </li>
        </ul>
      </nav>
      <div id="logo">
        <img src="../images/atom.gif" alt="oops" >
        <h1>Fun Physics</h1>
        
      </div> 
   
    </header>
    <main>
      <nav id="daily-image">
        <img src="../images/cover10.jpg" alt="">
      </nav>
    
     
    </main>
    
    
    
 
   
   </body>

</html>
