<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../partials/head') %>
  <title>Home</title>
</head>

<body>
 
  <main>
    <nav id="daily-image">
      <img src="../images/cover10.jpg" alt="">
    </nav>
    <section class="home-body">
      <section class="card-article">
        <h1>article Title</h1>
        <hr>

        <img src="../images/cover.jpg" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis deserunt sunt cupiditate, minus, ad
          consequatur quaerat non obcaecati eaque illo nisi nam nihil minima similique doloribus enim unde? Expedita,
          ut?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis deserunt sunt cupiditate, minus, ad
          consequatur quaerat non obcaecati eaque illo nisi nam nihil minima similique doloribus enim unde? Expedita,
          ut?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis deserunt sunt cupiditate, minus, ad
          consequatur quaerat non obcaecati eaque illo nisi nam nihil minima similique doloribus enim unde? Expedita,
          ut?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis deserunt sunt cupiditate, minus, ad
          consequatur quaerat non obcaecati eaque illo nisi nam nihil minima similique doloribus enim unde? Expedita,
          ut?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis deserunt sunt cupiditate, minus, ad
          consequatur quaerat non obcaecati eaque illo nisi nam nihil minima similique doloribus enim unde? Expedita,
          ut?
        </p>
        <h3>author Name </h3>
        <a href="/detalis">Show Detalis</a>
      </section>

      <section class="article-preview">
        <div class="sub-article">

          <img src="../images/cover.jpg" alt="" srcset="">
          <div class="sub-article-div">
            <h2>Subarticle title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam iusto quos pariatur facere
              necessitatibus voluptatibus nobis, eum nisi aliquid voluptatum! Minus quod tenetur saepe, mollitia nihil
              neque fuga et iste!</p>
          </div>
        </div>
        <div class="sub-article">

          <img src="../images/cover.jpg" alt="" srcset="">
          <div class="sub-article-div">
            <h2>Subarticle title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam iusto quos pariatur facere
              necessitatibus voluptatibus nobis, eum nisi aliquid voluptatum! Minus quod tenetur saepe, mollitia nihil
              neque fuga et iste!</p>
          </div>
        </div>

      </section>

    </section>
  </main>





</body>

</html>