<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../partials/head') %>
  <title>Home</title>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <main>
    <nav id="daily-image">
      <img src="../images/cover17.jpg" alt="" style="max-width: 100%;">
    </nav>
    <section class="home-body">

      <section class="article-preview">
      
      <div class="sub-article">
      
        <img src="../images/cover.jpg" alt="" srcset="">
          <h2>Subarticle title</h2> 
          <a href="/detalis">Show Detalis</a>
      </div>
        <div class="sub-article">
          <img src="../images/cover.jpg" alt="" srcset="">
            <h2>Subarticle title</h2> 
            <a href="/detalis">Show Detalis</a>
        </div>

      </section>

      <section class="card-article">
        <h1>article Title</h1>
        <hr>

        <img src="../images/cover.jpg" alt="" srcset="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis deserunt sunt cupiditate, minus, ad
          consequatur quaerat non obcaecati eaque illo nisi nam nihil minima similique doloribus enim unde? Expedita,
          ut?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis deserunt sunt cupiditate, minus, ad
          consequatur quaerat non obcaecati eaque illo nisi nam nihil minima similique doloribus enim unde? Expedita,
          ut?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis deserunt sunt cupiditate, minus, ad
          consequatur quaerat non obcaecati eaque illo nisi nam nihil minima similique doloribus enim unde? Expedita,
          ut?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis deserunt sunt cupiditate, minus, ad
          consequatur quaerat non obcaecati eaque illo nisi nam nihil minima similique doloribus enim unde? Expedita,
          ut?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis deserunt sunt cupiditate, minus, ad
          consequatur quaerat non obcaecati eaque illo nisi nam nihil minima similique doloribus enim unde? Expedita,
          ut?
        </p>
        <h3>author Name </h3>
        <a href="/detalis">Show Detalis</a>
      </section>


    </section>
  </main>





</body>

</html>