<!DOCTYPE html>

<head>
  <%- include('../partials/head') %>
  <title>Login</title>
  </head>

  <body id="login-main">
    <header>
      <%- include('../partials/header') %>
    </header>

    <nav id="login-card">
      <h4>Login</h4>
      <form id="login-form" class="" action="/auth/login" method="post">
        <label for="email">Email</label>
        <input class="btn-form" type="email" id="email" name="email" value="">
        <br/>
        <label for="password">Password</label>
        <input class="btn-form" id="password" type="password" name="password" value="">
        <br/>
        <b id="errorMessage" style="color:white;background-color: red;"></b>
        <br/>
        <input class="btn-submit" id="loginBtn" type="submit" value="login">
      </form>

    </nav>


    <script>
    const params = new URLSearchParams(window.location.search);
    const errorMessage = params.get("msg");
    document.getElementById("errorMessage").innerText = errorMessage;
    </script>

  </body>

  </html>
