<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <%- include('../partials/head') %>
    <title>Register</title>
  </head>
  <body id="register-main">
    <header>
      <%- include('../partials/header') %>
    </header>
    <center>
      <nav id="register-card">

        <h4>Register</h4>
        <form id="register-form" class="" action="/auth/register" method="post">
          <label for="first_name">First Name</label>
          <input class="btn-form" type="text" id="first_name" name="first_name" value="">
          <br/>
          <label for="last_name">Last Name</label>
          <input class="btn-form" type="last_name" id="last_name" name="last_name" value="">
          <br/>
          <label for="email">Email</label>
          <input class="btn-form" type="email" id="email" name="email" value="">
          <br/>
          <label for="password">Password</label>
          <input class="btn-form" id="password" type="password" name="password" value="">
          <br/>
          <b id="errorMessage" style="color:white;background-color: red;"></b>
          <br/>
          <input class="btn-submit" id="regBtn" type="submit" value="Register">
        </form>

          </nav>

  </center>

  <script>
  const params = new URLSearchParams(window.location.search);
  const errorMessage = params.get("msg");
  document.getElementById("errorMessage").innerText = errorMessage;
  </script>

</body>

</html>
